@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-vvv-gradient {
        background: linear-gradient(90deg, #E9622D 0%, #6246EA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}